
html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #2f4f4f;
}

/*header*/
header {
  color: #ffffff;
}

header .row {
  display: flex;
  justify-content: space-between;/*両端にいい感じに散らす*/
  align-items: center;
  width: 90%;/*横にびっちりを防ぐ*/
  margin: 0 auto;
  max-width: 1180px;
  padding: 20px 0;/*上と下の感覚*/
}

header .logo {
  font-size: 30px;
  font-weight: 400;/*bold*でもgood*/
  font-family: "Dela Gothic One", sans-serif;
  font-style: normal;
  /* font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal; */
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 50px;
}

header nav ul li a {
  transition: .3s;
}

header nav ul li a:hover {
  transition: .3s;
  opacity: 0.6;
}

@media only screen and (max-width: 960px) {
  header .row {
    display: block;/*横並び解除*/
  }
  header nav ul {
   justify-content: space-between;
   margin-top: 20px;
  }
  header nav ul li {
    margin-left: 0;
  }
}

/*main*/
.main-visual {
  background-image: url("./pik/tokyo.jpeg");
  background-size: cover;/*↑全体に表示*/
  background-position: center top;
  position: relative;
}

.main-visual .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  height: 640px;
  position: relative;/*場所を制限する。.containerの中にあるもの*/
}

.main-visual .title {
  position: absolute;
  bottom: 100px;
  z-index: 2;
}

.main-visual h1 {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 24px;
}

.main-visual p {
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
}

.main-visual .purple {
  background-color: #f0f8ff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  mix-blend-mode: multiply;/*かっこよさ目に色を被せる*/
}

@media only screen and (max-width: 960px) {
.main-visual h1 {
  font-size: 70px;
 }

 .main-visual .container {
  height: 540px;
  }
}

/*section1*/
.section1 {
  color: #ffffff;
  padding: 80px 0;/*上下の間隔あける*/
}

.section1 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.section1 .row {
  display: flex;/*横並び*/
  justify-content: space-between;
}

.section1 .col {
  width: 48%;
}

.section1 .sub_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section1 h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.6;/*行間*/
}

.section1 .text {
  font-size: 18px;
  line-height: 1.8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn {
  font-size: 18px;
  border: solid 1px #ffffff;
  border-radius: 100px;/*角を丸くする*/
  display: inline-block;/*高さを持つ*/
  width: 270px;
  line-height: 60px;/*ボタンの縦幅*/
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  color: #778899;
  border: solid 1px #778899;
  transition: 0.3s;
}

@media only screen and (max-width: 960px) {
  .section1 .row {
    flex-wrap: wrap;/*横幅はみ出た時に改行する*/
  }
  
  .section1 .col {
    width: 100%;
  }

  .section1 h2 {
    font-size: 24px;
  }

  .section1 .text {
    font-size: 15px;
    line-height: 1.6;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  
}

/*section2*/
.section2 {
  color: #ffffff;
  padding: 80px 0;/*上下の間隔あける*/
}

.section2 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.section2 .sub_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section2 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px;
}

.section2 .row {
  display: flex;/*横並び*/
  justify-content: space-between;
  margin-bottom: 60px;
}

.section2 .col {
  width: 31%;
  position: relative;/*absoluteと友達*/
}

.section2 img {
  border-radius: 20px;/*角を丸く*/
}

.section2 h3 {
  background-color: #778899;
  display: inline-block;/*横幅ぴちぴち(文字に合わせる)*/
  position: absolute;/*relativeと友達*/
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);/*微調整*/
  padding: 6px 20px;/*縦横*/
  border-radius: 10px;
}

.section2 .center {
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .section2 .row {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .section2 .col {
    width: 100%;
    margin-bottom: 20px;
  }
}
/*section3*/
.section3 {
  color: #ffffff;
  padding: 80px 0;/*上下の間隔あける*/
}

.section3 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.section3 .sub_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section3 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section3 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section3 .col {
  width: 48%;
}

.section3 .text {
  line-height: 1.8;
  margin-bottom: 50px;
}

.section3 img {
  border-radius: 20px;
}

@media only screen and (max-width: 960px) {
  .section3 .row {
    flex-wrap: wrap;
  }
  
  .section3 .col {
    width: 100%;
    margin-bottom: 30px;
  }
}

/*フッター*/
footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

footer h2 {
  font-weight: 400;/*bold*でもgood*/
  font-family: "Dela Gothic One", sans-serif;
  font-style: normal;
}

footer .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  border-top: solid 1px #778899;
  padding: 50px 0 20px;
}

footer .container h2 {
  font-size: 20px;
  margin-bottom: 30px;

}

footer .logo {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 40px;
}

footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

footer ul li {
  font-size: 15px;
  margin: 0 20px;
}

footer ul li a {
  transition: .3s;
}

footer ul li a:hover {
  transition: .3s;
  opacity: 0.6;
}
